# PERTEMUAN 9
# ANALISIS IKZAN MUSYAWIR

## Python Introduction

In [1]:
print("Hello, World!")

Hello, World!

### Analisis
Kode print("Hello, World!") mencetak teks "Hello, World!" ke layar. Fungsi print() digunakan untuk menampilkan output, dan string "Hello, World!" adalah teks yang ditampilkan.

## Python Version

In [2]:
import sys

print(sys.version)

3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]

### Analisis
1. import sys

Fungsi: Mengimpor modul sys.

Alasan: Modul sys digunakan untuk mengakses berbagai variabel dan fungsi terkait dengan lingkungan eksekusi Python, seperti informasi versi Python.

2. print(sys.version)

Fungsi: Mencetak versi Python yang sedang digunakan.

Alasan: sys.version menyimpan informasi tentang versi Python, dan print() digunakan untuk menampilkan informasi tersebut ke layar.

## Python Syntax
### Python Indentation

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

### Analisis
Kode if 5 > 2: print("Five is greater than two!") berfungsi untuk memeriksa apakah 5 lebih besar dari 2. Karena kondisi 5 > 2 bernilai True, maka pernyataan di dalam blok if akan dieksekusi, yaitu mencetak "Five is greater than two!" ke layar.

In [4]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

### Analisis
Kode yang Anda kirimkan memeriksa apakah 5 lebih besar dari 2 dan mencetak "Five is greater than two!" jika benar. Perbedaannya hanya pada indentasi: kode pertama menggunakan 4 spasi, dan kode kedua menggunakan 5 spasi. Keduanya berfungsi sama karena Python tidak mempermasalahkan perbedaan tersebut selama indentasi konsisten dalam blok yang sama.

## Python Variables

In [5]:
x = 5
y = "Hello, World!"

### Analisis
Kode ini mendefinisikan dua variabel: x yang diisi dengan nilai 5 (sebuah angka), dan y yang diisi dengan string "Hello, World!". Variabel x menyimpan tipe data integer, sementara y menyimpan tipe data string.

### Comments

In [6]:
#This is a comment.
print("Hello, World!")

Hello, World!

### Analisis
Kode ini memiliki komentar #This is a comment. yang tidak dieksekusi oleh Python dan hanya berfungsi sebagai catatan untuk programmer. Kemudian, perintah print("Hello, World!") akan mencetak "Hello, World!" ke layar.

### Statements

In [7]:
print("Python is fun!")

Python is fun!

### Analisis
Kode ini akan mencetak teks "Python is fun!" ke layar menggunakan fungsi print().

### Many Statements

In [8]:
print("Hello World!")
print("Have a good day.")
print("Learning Python is fun!")

Hello World!
Have a good day.
Learning Python is fun!

### Analisis
Kode ini akan mencetak tiga baris teks secara berurutan:

"Hello World!"

"Have a good day."

"Learning Python is fun!"

Setiap perintah print() mencetak string yang diberikan ke layar.

### Semicolons (Optional, Rarely Used)

In [9]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

### Analisis
Kode ini akan mencetak tiga baris teks dalam satu baris kode, yaitu:

"Hello"

"How are you?"

"Bye bye!"

Setiap perintah print() dipisahkan dengan tanda titik koma (;), yang memungkinkan beberapa pernyataan dieksekusi dalam satu baris.

In [10]:
print("Python is fun!") print("Really!")

SyntaxError: invalid syntax (2531607073.py, line 1)

### Analisis
Kode tersebut akan menghasilkan kesalahan (error) karena dua perintah print() tidak dipisahkan dengan benar. Setiap pernyataan dalam Python harus dipisahkan dengan tanda titik koma (;) jika berada dalam satu baris, atau dipisahkan dalam baris yang berbeda.

## Python Output / Print
### Print Text

In [11]:
print("Hello World!")

Hello World!

### Analisis
Kode print("Hello World!") akan mencetak "Hello World!" ke layar. Fungsi print() digunakan untuk menampilkan output berupa teks ke konsol.

In [12]:
print("Hello World!")
print("I am learning Python.")
print("It is awesome!")

Hello World!
I am learning Python.
It is awesome!

### Analisis
Kode ini akan mencetak tiga baris teks secara berurutan:

"Hello World!"

"I am learning Python."

"It is awesome!"

Setiap perintah print() akan menampilkan teks yang diberikan ke layar secara terpisah.

### Double Quotes

In [13]:
print("This will work!")
print('This will also work!')

This will work!
This will also work!

### Analisis
Kode ini mencetak dua baris teks:

"This will work!"

"This will also work!"

Keduanya berfungsi karena Python memperbolehkan penggunaan tanda kutip ganda (" ") maupun tunggal (' ') untuk membuat string.

In [14]:
print(This will cause an error)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2830183003.py, line 1)

### Analisis
ChatGPT said:

Kode tersebut akan menimbulkan error karena teks di dalam print() tidak diapit tanda kutip.

Python menganggap This, will, cause, dan an sebagai variabel yang tidak dikena

### Print Without a New Line

In [15]:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

### Analisis
Kode tersebut mencetak dua teks dalam satu baris. Parameter end=" " pada perintah print() membuat Python tidak berpindah ke baris baru setelah mencetak teks pertama, melainkan menambahkan spasi. Hasil akhirnya menjadi: Hello World! I will print on the same line.

## Python Output Numbers
### Print Numbers

In [16]:
print(3)
print(358)
print(50000)

3
358
50000

### Analisis
Kode tersebut mencetak tiga angka secara berurutan di baris terpisah: 3, 358, dan 50000. Setiap perintah print() menampilkan satu nilai angka di layar.

In [17]:
print(3 + 3)
print(2 * 5)

6
10

### Analisis
Kode tersebut melakukan operasi aritmatika dan menampilkan hasilnya. Baris pertama menjumlahkan 3 + 3 menghasilkan 6, sedangkan baris kedua mengalikan 2 * 5 menghasilkan 10.

### Mix Text and Numbers

In [18]:
print("I am", 35, "years old.")

I am 35 years old.

### Analisis
Kode tersebut mencetak teks dan angka dalam satu perintah. Hasilnya adalah: I am 35 years old.
Python secara otomatis menambahkan spasi di antara setiap argumen di dalam fungsi print().

## Python Comments
### Creating a Comment

In [19]:
#This is a comment
print("Hello, World!")

Hello, World!

### Analisis
Kode tersebut memiliki komentar #This is a comment yang diabaikan oleh Python saat dijalankan. Baris kedua mencetak teks "Hello, World!" ke layar menggunakan fungsi print().

In [20]:
print("Hello, World!") #This is a comment

Hello, World!

### Analisis
Kode tersebut mencetak teks "Hello, World!" ke layar. Bagian setelah tanda # adalah komentar, sehingga tidak dieksekusi oleh Python.

In [21]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

### Analisis
Kode tersebut hanya mencetak "Cheers, Mate!" karena baris pertama diawali tanda #, yang menjadikannya komentar dan tidak dijalankan oleh Python.

### Multiline Comments

In [22]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

### Analisis
ChatGPT said:

Kode tersebut memiliki beberapa baris komentar yang diawali tanda #, sehingga tidak dieksekusi oleh Python. Hanya baris terakhir yang dijalankan, mencetak teks "Hello, World!" ke layar.

In [23]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

### Analisis
Kode tersebut menggunakan tanda kutip tiga (""") untuk membuat komentar atau string multiline yang tidak dieksekusi. Hanya baris print("Hello, World!") yang dijalankan, sehingga outputnya adalah Hello, World!

## Python Variables
### Creating Variables

In [24]:
x = 5
y = "John"
print(x)
print(y)

5
John

### Analisis
Kode tersebut membuat dua variabel: x berisi angka 5 dan y berisi teks "John"

In [25]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

### Analisis
Kode tersebut pertama kali memberi nilai 4 pada x (tipe data integer), lalu menggantinya dengan "Sally" (tipe data string). Saat dijalankan, program mencetak Sally karena nilai terakhir x adalah string.

### Casting

In [26]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### Analisis
Kode tersebut mengonversi angka 3 ke tiga tipe data berbeda: x menjadi string '3', y menjadi integer 3, dan z menjadi float 3.0.

### Get the Type

In [27]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Analisis
Kode tersebut mencetak tipe data dari setiap variabel. Hasilnya menunjukkan bahwa x bertipe int (bilangan bulat) dan y bertipe str (string).

### Single or Double Quotes?

In [28]:
x = "John"
# is the same as
x = 'John'

### Analisis
Kode tersebut menunjukkan bahwa tanda kutip ganda (" ") dan tanda kutip tunggal (' ') memiliki fungsi yang sama di Python. Keduanya dapat digunakan untuk membuat string berisi teks John.

### Case-Sensitive

In [29]:
a = 4
A = "Sally"
#A will not overwrite a

### Analisis
Kode tersebut mendefinisikan dua variabel berbeda: a bernilai 4 dan A bernilai "Sally". Python membedakan huruf besar dan kecil, sehingga A tidak akan menimpa nilai a.

## Python - Variable Names
### Variable Names

In [30]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

### Analisis
Kode tersebut menunjukkan berbagai cara penulisan nama variabel yang valid di Python. Semua contoh itu sah digunakan karena hanya mengandung huruf, angka, dan garis bawah, serta tidak diawali angka.

In [31]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

### Analisis
Kode tersebut akan menimbulkan error, karena ketiga nama variabel tidak valid.

2myvar salah karena nama variabel tidak boleh diawali angka.

my-var salah karena tanda minus (-) tidak diperbolehkan; Python menganggapnya sebagai operator pengurangan.

my var salah karena nama variabel tidak boleh mengandung spasi.

## Camel Case

In [32]:
myVariableName = "John"

### Analisis
Kode tersebut menggunakan gaya penulisan camelCase, di mana huruf pertama kata pertama huruf kecil dan kata berikutnya diawali huruf besar. Variabel myVariableName menyimpan teks "John".

## Pascal Case

In [33]:
MyVariableName = "John"

## Analisis
Kode tersebut menggunakan gaya penulisan PascalCase, di mana setiap kata diawali huruf besar. Variabel MyVariableName menyimpan teks "John".

## Snake Case

In [34]:
my_variable_name = "John"

### Analisis
Kode tersebut menggunakan gaya penulisan snake_case, di mana kata-kata dipisahkan dengan garis bawah. Variabel my_variable_name menyimpan teks "John".

# Python Variables - Assign Multiple Values
## Many Values to Multiple Variables

In [35]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### Analisis
Kode tersebut melakukan multiple assignment, yaitu memberi nilai ke beberapa variabel sekaligus. Variabel x, y, dan z masing-masing berisi "Orange", "Banana", dan "Cherry". Saat dijalankan, program mencetak ketiga nilai tersebut di baris terpisah.

## One Value to Multiple Variables

In [36]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Analisis
Kode tersebut memberi nilai yang sama, yaitu "Orange", ke tiga variabel sekaligus (x, y, dan z). Saat dijalankan, program mencetak Orange tiga kali di baris terpisah.

## Unpack a Collection

In [37]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Analisis
Kode tersebut melakukan unpacking dari list fruits ke dalam tiga variabel: x, y, dan z. Setiap variabel akan menerima satu elemen dari list fruits, sehingga x berisi "apple", y berisi "banana", dan z berisi "cherry". Program kemudian mencetak ketiga nilai tersebut satu per satu.

## Python - Output Variables
### Output Variables

In [38]:
x = "Python is awesome"
print(x)

Python is awesome

### Analisis
Kode tersebut akan mencetak "Python is awesome" ke layar karena nilai variabel x adalah string tersebut.

In [39]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

### Analisis
Kode tersebut akan mencetak tiga variabel (x, y, dan z) yang berisi "Python", "is", dan "awesome" secara berurutan, dipisahkan oleh spasi.

In [40]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

### Analisis
Kode tersebut menggabungkan tiga string (x, y, dan z) menggunakan operator +, sehingga menghasilkan string "Python is awesome" tanpa spasi tambahan di antara kata-kata. Program kemudian mencetak hasil gabungan tersebut.

In [41]:
x = 5
y = 10
print(x + y)

15

### Analisis
Kode tersebut menjumlahkan nilai variabel x (5) dan y (10), kemudian mencetak hasilnya, yaitu 15.

In [42]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Analisis
Kode tersebut akan menimbulkan error karena Python tidak bisa menjumlahkan tipe data integer (x = 5) dan string (y = "John")

In [ ]:
x = 5
y = "John"
print(x, y)

### Analisis
Kode tersebut akan mencetak 5 John ke layar. Fungsi print() secara otomatis memisahkan nilai-nilai yang dipisahkan koma dengan spasi.

## Python - Global Variables
### Global Variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

### Analisis
Kode tersebut mendefinisikan sebuah fungsi myfunc() yang mencetak "Python is awesome". Fungsi ini menggabungkan string "Python is " dengan nilai dari variabel global x, yang berisi "awesome".

In [43]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

### Analisis
Kode tersebut memiliki dua variabel x dengan lingkup berbeda. Variabel x di dalam fungsi bersifat lokal, sedangkan x di luar fungsi bersifat global.

## The global Keyword

In [44]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Analisis
Kode tersebut menggunakan kata kunci global untuk menjadikan variabel x bersifat global di dalam fungsi. Setelah fungsi myfunc() dijalankan, variabel x akan berisi "fantastic"

In [45]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Analisis
Kode tersebut mendeklarasikan variabel global x dengan nilai awal "awesome", lalu fungsi myfunc() mengubah nilai global tersebut menjadi "fantastic". Setelah fungsi dijalankan, x bernilai "fantastic"

## Python Data Types
### Built-in Data Types

In [46]:
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

SyntaxError: invalid syntax (775848879.py, line 1)

### Analisis
Teks tersebut menjelaskan berbagai tipe data bawaan dalam Python. Tipe teks diwakili oleh str untuk menyimpan data berupa string. Tipe numerik terdiri dari int, float, dan complex untuk bilangan bulat, desimal, dan kompleks. Tipe urutan atau sequence meliputi list, tuple, dan range, yang digunakan untuk menyimpan kumpulan data berurutan. Tipe pemetaan (dict) menyimpan data dalam bentuk pasangan kunci dan nilai. Tipe himpunan terdiri dari set dan frozenset, yang menyimpan data unik tanpa urutan. Selain itu, ada tipe boolean (bool) untuk menyimpan nilai benar atau salah, tipe biner (bytes, bytearray, memoryview) untuk menangani data dalam bentuk biner, dan tipe NoneType yang mewakili nilai kosong atau tidak ada.

### Getting the Data Type

In [47]:
x = 5
print(type(x))

<class 'int'>

### Analisis
Kode tersebut mencetak tipe data dari variabel x. Karena x berisi angka 5, hasilnya adalah <class 'int'>, yang berarti tipe datanya adalah integer.

### Setting the Data Type

In [48]:
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType

SyntaxError: invalid syntax (540211146.py, line 1)

### Analisis
Teks tersebut menunjukkan contoh berbagai tipe data bawaan Python beserta contohnya.

Variabel x dapat berisi berbagai jenis nilai sesuai tipe datanya: string ("Hello World"), integer (20), float (20.5), complex (1j), list, tuple, range, dictionary, set, frozenset, boolean (True), bytes, bytearray, memoryview, serta None yang mewakili nilai kosong (NoneType).

Setiap tipe data digunakan untuk tujuan yang berbeda, seperti menyimpan teks, angka, koleksi data, atau nilai logika.

### Setting the Specific Data Type

In [49]:
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

SyntaxError: invalid syntax (3862684090.py, line 1)

### Analisis
Teks tersebut menunjukkan cara membuat berbagai tipe data Python menggunakan fungsi konstruktor.

Setiap baris membuat variabel x dengan tipe tertentu, misalnya str() untuk string, int() untuk bilangan bulat, float() untuk desimal, dan complex() untuk bilangan kompleks. Struktur data seperti list(), tuple(), set(), frozenset(), dan dict() digunakan untuk menyimpan kumpulan data. Sementara bool() menghasilkan nilai logika, bytes(), bytearray(), dan memoryview() digunakan untuk menangani data biner.

Dengan cara ini, tipe data dapat ditentukan secara eksplisit menggunakan konstruktor bawaan Python.

## Python Numbers
### Python Numbers

In [50]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

### Analisis
Kode tersebut membuat tiga variabel dengan tipe numerik berbeda. Variabel x bernilai 1 bertipe int (bilangan bulat), y bernilai 2.8 bertipe float (bilangan desimal), dan z bernilai 1j bertipe complex (bilangan kompleks dengan bagian imajiner).

In [51]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Analisis
Kode tersebut digunakan untuk menampilkan tipe data dari variabel x, y, dan z. Masing-masing akan menunjukkan bahwa x bertipe integer, y bertipe float, dan z bertipe complex.

### int

In [52]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Analisis
Kode tersebut mendefinisikan tiga variabel bertipe bilangan bulat dengan nilai positif dan negatif. Ketika fungsi type() dijalankan, ketiganya menunjukkan bahwa x, y, dan z semuanya bertipe integer (int) karena berisi bilangan tanpa desimal.

### float

In [53]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Analsis
Kode tersebut membuat tiga variabel dengan nilai desimal, masing-masing berupa bilangan positif dan negatif. Saat fungsi type() dijalankan, ketiganya menunjukkan bahwa x, y, dan z bertipe float karena mengandung angka dengan titik desimal.

In [54]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Analisis
Kode tersebut menggunakan notasi ilmiah (eksponensial) untuk menyatakan bilangan desimal. Variabel x, y, dan z semuanya bertipe float, karena angka dengan notasi e atau E secara otomatis dianggap sebagai bilangan desimal di Python.

### Complex

In [55]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Analisis
Kode tersebut membuat tiga variabel bertipe complex yang memiliki bagian imajiner ditandai dengan huruf j. Saat diperiksa dengan fungsi type(), ketiganya menunjukkan bahwa x, y, dan z bertipe complex karena mengandung komponen bilangan imajiner.

### Type Conversion

In [56]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Analisis
Kode tersebut menunjukkan proses konversi tipe data numerik di Python. Variabel x, y, dan z masing-masing bertipe integer, float, dan complex. Nilai x dikonversi menjadi float dan disimpan dalam a, nilai y dikonversi menjadi integer dan disimpan dalam b, sedangkan nilai x dikonversi menjadi complex dan disimpan dalam c. Saat dijalankan, program menampilkan hasil konversi beserta tipe data baru masing-masing variabel.

### Random Number

In [57]:
import random

print(random.randrange(1, 10))

8

### Analisis
Kode tersebut mengimpor modul random dan menggunakan fungsi randrange(1, 10) untuk menghasilkan angka acak antara 1 hingga 9. Fungsi ini tidak menyertakan batas atas, sehingga angka 10 tidak akan muncul dalam hasil.

## Python Casting
### Specify a Variable Type

In [58]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

### Analisis
Kode tersebut mengonversi berbagai nilai menjadi tipe data integer. Nilai 1 tetap menjadi 1, nilai 2.8 dibulatkan ke bawah menjadi 2, dan string "3" diubah menjadi angka 3.

In [59]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

### Analisis
Kode tersebut mengonversi berbagai nilai menjadi tipe data float. Nilai integer dan string angka diubah menjadi bilangan desimal, sehingga menghasilkan 1.0, 2.8, 3.0, dan 4.2.

In [60]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### Analisis
Kode tersebut mengonversi berbagai nilai menjadi tipe data string (str). Nilai "s1", 2, dan 3.0 semuanya disimpan sebagai teks, sehingga hasil akhirnya adalah 's1', '2', dan '3.0'.

## Python Strings
### String

In [61]:
print("Hello")
print('Hello')

Hello
Hello

### Analisis
Kode tersebut mencetak teks "Hello" dua kali. Python memperbolehkan penggunaan tanda kutip tunggal (' ') maupun ganda (" ") untuk membuat string, dan keduanya berfungsi sama.

### Quotes Inside Quotes

In [62]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

### Analisis
Kode tersebut mencetak tiga baris teks yang menggunakan tanda kutip di dalam string. Python membedakan antara tanda kutip luar dan dalam, sehingga string dapat berisi kutipan ganda atau tunggal tanpa error. Ketiganya menampilkan teks sesuai penulisan tanpa masalah.

### Assign String to a Variable

In [63]:
a = "Hello"
print(a)

Hello

### Analisis
Kode tersebut menyimpan teks "Hello" dalam variabel a, lalu mencetaknya ke layar menggunakan fungsi print().

### Multiline Strings

In [64]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Analisis
Kode tersebut menyimpan teks panjang di dalam variabel a menggunakan tanda kutip tiga ("""), yang memungkinkan penulisan string dalam beberapa baris. Saat dijalankan, program mencetak seluruh teks tersebut persis seperti format baris aslinya.

In [65]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Analisis
Kode tersebut menggunakan tanda kutip tiga tunggal (''') untuk menyimpan teks panjang dalam beberapa baris di variabel a. Saat dijalankan, program mencetak seluruh isi teks dengan format baris yang sama seperti saat ditulis.

### Strings are Arrays

In [66]:
a = "Hello, World!"
print(a[1])

e

### Analisis
Kode tersebut mencetak karakter kedua dari string "Hello, World!", yaitu huruf "e", karena indeks dalam Python dimulai dari angka 0.

### Looping Through a String

In [67]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### Analisis
Kode tersebut menggunakan perulangan for untuk menelusuri setiap huruf dalam string "banana". Setiap huruf akan dicetak satu per satu secara vertikal pada baris terpisah.

### String Length

In [68]:
a = "Hello, World!"
print(len(a))

13

### Analisis
Kode tersebut menghitung jumlah karakter dalam string "Hello, World!" menggunakan fungsi len(). Hasilnya menunjukkan panjang string, termasuk huruf, tanda baca, dan spasi.

### Check String

In [69]:
txt = "The best things in life are free!"
print("free" in txt)

True

### Analisis
Kode tersebut memeriksa apakah kata "free" terdapat dalam string txt. Operator in mengembalikan nilai True karena kata tersebut memang ada di dalam teks.

In [70]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Analisis
Kode tersebut memeriksa apakah kata "free" ada di dalam string txt. Karena kata tersebut memang terdapat dalam teks, kondisi if terpenuhi dan program mencetak pesan "Yes, 'free' is present."

### Check if NOT

In [71]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

### Analisis
Kode tersebut memeriksa apakah kata "expensive" tidak ada dalam string txt menggunakan operator not in. Karena kata itu memang tidak terdapat dalam teks, hasil yang ditampilkan adalah True.

In [72]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

### Analisis
Kode tersebut memeriksa apakah kata "expensive" tidak terdapat dalam string txt. Karena kata itu memang tidak ada, kondisi if terpenuhi dan program mencetak pesan "No, 'expensive' is NOT present."

## Python - Slicing Strings
### Slicing

In [73]:
b = "Hello, World!"
print(b[2:5])

llo

### Analisis
Kode tersebut mengambil sebagian teks dari string "Hello, World!" menggunakan teknik slicing. Potongan [2:5] berarti mengambil karakter mulai dari indeks 2 hingga sebelum indeks 5, sehingga hasilnya adalah "llo".

### Slice From the Start

In [74]:
b = "Hello, World!"
print(b[:5])

Hello

### Analisis
Kode tersebut mengambil potongan string dari awal hingga sebelum indeks ke-5. Dari teks "Hello, World!", hasilnya adalah "Hello".

### Slice To the End

In [75]:
b = "Hello, World!"
print(b[2:])

llo, World!

### Analisis
Kode tersebut mengambil potongan string mulai dari indeks ke-2 hingga akhir. Dari teks "Hello, World!", hasilnya adalah "llo, World!".

### Negative Indexing

In [76]:
b = "Hello, World!"
print(b[-5:-2])

orl

### Analisis
Kode tersebut menggunakan indeks negatif untuk mengambil sebagian string. Potongan [-5:-2] berarti mulai dari karakter kelima dari belakang hingga sebelum karakter kedua dari belakang. Dari teks "Hello, World!", hasilnya adalah "orl".

## Python - Modify Strings
### Upper Case

In [77]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Analisis
Kode tersebut mengubah semua huruf dalam string "Hello, World!" menjadi huruf kapital menggunakan metode .upper(). Hasilnya adalah "HELLO, WORLD!".

### Lower Case

In [78]:
a = "Hello, World!"
print(a.lower())

hello, world!

### Analisis
Kode tersebut mengubah semua huruf dalam string "Hello, World!" menjadi huruf kecil menggunakan metode .lower(). Hasilnya adalah "hello, world!".

### Remove Whitespace

In [79]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Analisis
Kode tersebut menggunakan metode .strip() untuk menghapus spasi di awal dan akhir string " Hello, World! ". Hasilnya menjadi "Hello, World!" tanpa spasi tambahan.

### Replace String

In [80]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Analisis
Kode tersebut mengganti huruf "H" dengan "J" dalam string "Hello, World!" menggunakan metode .replace(). Hasilnya menjadi "Jello, World!".

### Split String

In [81]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

### Analisis
Kode tersebut memisahkan string "Hello, World!" menjadi list menggunakan tanda koma (,) sebagai pemisah melalui metode .split(). Hasilnya adalah ['Hello', ' World!'].

## Python - String Concatenation
### String Concatenation

In [82]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

### Analisis
Kode tersebut menggabungkan dua string, a dan b, tanpa spasi di antara keduanya. Hasilnya adalah "HelloWorld".

In [83]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### Analisis
Kode tersebut menggabungkan dua string, a dan b, dengan menambahkan satu spasi di antara keduanya. Hasilnya adalah "Hello World".

## Python - Format - Strings
### String Format

In [84]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

### Analisis
Kode tersebut akan menimbulkan error karena Python tidak dapat menggabungkan string dengan integer secara langsung. Variabel age harus dikonversi menjadi string terlebih dahulu, misalnya dengan str(age), agar bisa digabungkan tanpa error.

### F-Strings

In [85]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

### Analisis
Kode tersebut menggunakan f-string (format string) untuk menyisipkan nilai variabel age ke dalam string. Dengan cara ini, nilai age yang berisi angka 36 akan digabungkan langsung ke dalam string. Hasilnya adalah "My name is John, I am 36".

### Placeholders and Modifiers

In [86]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

### Analisis
Kode tersebut menggunakan f-string untuk menyisipkan nilai variabel price ke dalam string. Dengan cara ini, nilai price yang berisi angka 59 akan digabungkan langsung ke dalam string. Hasilnya adalah "The price is 59 dollars".

In [87]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

### Analisis
Kode tersebut menggunakan f-string untuk menyisipkan nilai variabel price ke dalam string, dengan format 2 desimal menggunakan sintaks {price:.2f}. Hasilnya adalah "The price is 59.00 dollars", karena angka 59 diformat dengan dua angka di belakang koma desimal.

In [88]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

### Analisis
Kode tersebut menggunakan f-string untuk menghitung hasil perkalian 20 * 59 dan menyisipkan hasilnya ke dalam string. Hasilnya adalah "The price is 1180 dollars".

## Python - Escape Characters
### Escape Character

In [89]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

### Analisis
Kode tersebut akan menimbulkan error karena tanda kutip ganda (") digunakan di dalam string tanpa escape character. Untuk menghindari error, Anda bisa menggunakan tanda kutip tunggal di luar atau menambahkan escape character \ di depan tanda kutip di dalam string.

In [90]:
txt = "We are the so-called \"Vikings\" from the north."

### Analisis
Kode tersebut menggunakan escape character (\") untuk memasukkan tanda kutip ganda di dalam string. Hasilnya adalah string yang valid: "We are the so-called "Vikings" from the north.". Escape character memungkinkan tanda kutip ganda digunakan di dalam string yang juga dibungkus dengan tanda kutip ganda.

### Escape Characters

In [91]:
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

SyntaxError: unexpected character after line continuation character (3326531009.py, line 1)

### Analisis
Teks tersebut menjelaskan beberapa escape sequences dalam Python yang digunakan untuk mewakili karakter khusus dalam string:

\': Menyisipkan tanda kutip tunggal di dalam string.

\\: Menyisipkan tanda backslash (\).

\n: Membuat baris baru (new line).

\r: Menggerakkan kursor ke awal baris (carriage return).

\t: Menyisipkan tab.

\b: Menghapus karakter sebelumnya (backspace).

\f: Menyisipkan form feed, biasanya untuk pemisahan halaman (tergantung perangkat).

\ooo: Menyisipkan karakter berdasarkan nilai oktal (misalnya \123).

\xhh: Menyisipkan karakter berdasarkan nilai heksadesimal (misalnya \x41 untuk huruf 'A').

Escape sequences digunakan untuk mewakili karakter yang tidak dapat langsung ditulis dalam string.

## Python Booleans
### Boolean Values

In [92]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Analisis
Kode tersebut memeriksa tiga kondisi. Kondisi pertama 10 > 9 menghasilkan True karena 10 lebih besar dari 9. Kondisi kedua 10 == 9 menghasilkan False karena 10 tidak sama dengan 9. Kondisi ketiga 10 < 9 juga menghasilkan False karena 10 lebih besar dari 9.

In [93]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Analisis
Kode tersebut memeriksa apakah nilai variabel b lebih besar dari a. Karena b (33) tidak lebih besar dari a (200), maka kondisi else akan dijalankan dan mencetak "b is not greater than a".

### Evaluate Values and Variables

In [94]:
print(bool("Hello"))
print(bool(15))

True
True

### Analisis
Kode tersebut memeriksa nilai kebenaran dari dua ekspresi menggunakan fungsi bool():

bool("Hello") menghasilkan True karena string yang tidak kosong dianggap bernilai benar.

bool(15) menghasilkan True karena angka selain nol dianggap bernilai benar.

In [95]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Analisis
Kode tersebut memeriksa nilai kebenaran dari variabel x dan y. Karena string "Hello" tidak kosong, bool(x) menghasilkan True. Begitu juga dengan angka 15, yang bukan nol, sehingga bool(y) juga menghasilkan True.

### Most Values are True

In [96]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

### Analisis
Kode tersebut memeriksa nilai kebenaran dari beberapa ekspresi. bool("abc") menghasilkan True karena string yang tidak kosong dianggap bernilai benar. bool(123) juga menghasilkan True karena angka selain nol dianggap bernilai benar. bool(["apple", "cherry", "banana"]) menghasilkan True karena list yang tidak kosong juga dianggap bernilai benar.

### Some Values are False

In [97]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

### Analisis
Kode tersebut memeriksa nilai kebenaran dari beberapa ekspresi. Semua nilai yang disebutkan di atas menghasilkan False karena mereka dianggap sebagai nilai "kosong" atau "falsy" dalam Python.

bool(False) menghasilkan False karena nilai Boolean False.

bool(None) menghasilkan False karena None dianggap kosong.

bool(0) menghasilkan False karena angka nol dianggap sebagai falsy.

bool("") menghasilkan False karena string kosong dianggap falsy.

bool(()) menghasilkan False karena tuple kosong dianggap falsy.

bool([]) menghasilkan False karena list kosong dianggap falsy.

bool({}) menghasilkan False karena dictionary kosong dianggap falsy.

In [98]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Analisis
Kode tersebut mendefinisikan kelas myclass dengan metode khusus __len__() yang mengembalikan 0. Saat memanggil bool(myobj), Python akan memeriksa panjang objek menggunakan __len__(). Karena __len__() mengembalikan 0, yang dianggap sebagai nilai falsy, maka hasilnya adalah False.

### Functions can Return a Boolean

In [99]:
def myFunction() :
  return True

print(myFunction())

True

### Analisis
Kode tersebut mendefinisikan fungsi myFunction() yang selalu mengembalikan nilai True. Ketika fungsi dipanggil dengan print(myFunction()), hasil yang dicetak adalah True.

In [100]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

### Analisis
Kode tersebut memanggil fungsi myFunction(), yang mengembalikan True. Karena nilai yang dikembalikan adalah True, kondisi if terpenuhi, sehingga program mencetak "YES!".

In [101]:
x = 200
print(isinstance(x, int))

True

### Analisis
Kode tersebut memeriksa apakah variabel x adalah instance dari tipe data int menggunakan fungsi isinstance(). Karena x bernilai 200, yang merupakan integer, hasilnya adalah True.

## Python Operators

In [102]:
print(10 + 5)

15

### Analisis
Kode tersebut menjumlahkan angka 10 dan 5, dan mencetak hasilnya, yaitu 15.

In [103]:
sum1 = 100 + 50      # 150 (100 + 50)
sum2 = sum1 + 250    # 400 (150 + 250)
sum3 = sum2 + sum2   # 800 (400 + 400)

### Analisis
Kode tersebut melakukan beberapa operasi penjumlahan bertahap:

sum1 menghitung 100 + 50, menghasilkan 150.

sum2 menghitung sum1 + 250, yang berarti 150 + 250, menghasilkan 400.

sum3 menghitung sum2 + sum2, yang berarti 400 + 400, menghasilkan 800.

### Python Arithmetic Operators
### Arithmetic Operators

In [104]:
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

SyntaxError: invalid syntax (695767117.py, line 1)

### Analisis
Teks tersebut menjelaskan berbagai operator aritmatika dalam Python:

+ (Addition): Menjumlahkan dua angka, misalnya x + y.

- (Subtraction): Mengurangi dua angka, misalnya x - y.

* (Multiplication): Mengalikan dua angka, misalnya x * y.

/ (Division): Membagi dua angka dan menghasilkan hasil desimal, misalnya x / y.

% (Modulus): Menghasilkan sisa pembagian, misalnya x % y.

** (Exponentiation): Menyusun eksponensial, misalnya x ** y (x pangkat y).

// (Floor division): Membagi dua angka dan membulatkan hasilnya ke bawah, misalnya x // y.

In [105]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

19
11
60
3.75
3
50625
3

### Analisis
Kode tersebut melakukan berbagai operasi aritmatika pada variabel x (15) dan y (4) dan mencetak hasilnya:

x + y (Penjumlahan): 15 + 4 = 19

x - y (Pengurangan): 15 - 4 = 11

x * y (Perkalian): 15 * 4 = 60

x / y (Pembagian): 15 / 4 = 3.75

x % y (Modulus, sisa pembagian): 15 % 4 = 3

x ** y (Pangkat): 15 ** 4 = 50625

x // y (Pembagian lantai, hasil pembagian dibulatkan ke bawah): 15 // 4 = 3

Hasil dari operasi tersebut akan dicetak sesuai urutan.

### Division in Python

In [106]:
x = 12
y = 5

print(x / y)

2.4

### Analisis
Kode tersebut membagi x (12) dengan y (5) menggunakan operator pembagian (/). Hasilnya adalah 2.4 karena operasi pembagian menghasilkan angka desimal.

In [107]:
x = 12
y = 5

print(x // y)

2

### Analisis
Kode tersebut melakukan floor division pada x (12) dan y (5) menggunakan operator //. Hasilnya adalah 2, karena floor division membagi angka dan membulatkan hasilnya ke bawah ke angka bulat terdekat.

### Python Assignment Operators
### Assignment Operators

In [108]:
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3	
:=	print(x := 3)	x = 3
print(x)

SyntaxError: invalid syntax (4236423181.py, line 1)

### Analisis
Teks tersebut menjelaskan berbagai operator penugasan (assignment operators) dalam Python, yang digunakan untuk melakukan operasi pada variabel dan memperbarui nilai variabel tersebut dalam satu langkah. Berikut adalah penjelasannya:

=: Penugasan dasar, misalnya x = 5, yang artinya memberikan nilai 5 ke variabel x.

+=: Penugasan dengan penambahan, misalnya x += 3 yang setara dengan x = x + 3.

-=: Penugasan dengan pengurangan, misalnya x -= 3 yang setara dengan x = x - 3.

*=: Penugasan dengan perkalian, misalnya x *= 3 yang setara dengan x = x * 3.

/=: Penugasan dengan pembagian, misalnya x /= 3 yang setara dengan x = x / 3.

%=: Penugasan dengan modulus, misalnya x %= 3 yang setara dengan x = x % 3.

//=: Penugasan dengan floor division, misalnya x //= 3 yang setara dengan x = x // 3.

**=: Penugasan dengan eksponensial, misalnya x **= 3 yang setara dengan x = x ** 3.

&=: Penugasan dengan operasi bitwise AND, misalnya x &= 3 yang setara dengan x = x & 3.

|=: Penugasan dengan operasi bitwise OR, misalnya x |= 3 yang setara dengan x = x | 3.

^=: Penugasan dengan operasi bitwise XOR, misalnya x ^= 3 yang setara dengan x = x ^ 3.

>>=: Penugasan dengan operasi bitwise right shift, misalnya x >>= 3 yang setara dengan x = x >> 3.

<<=: Penugasan dengan operasi bitwise left shift, misalnya x <<= 3 yang setara dengan x = x << 3.

:=: Walaupun operator ini sering disebut sebagai "walrus operator", pada contoh x := 3, ini menginisialisasi x dengan nilai 3 dan langsung mencetaknya. Fungsi ini berguna dalam ekspresi untuk assignment dan pengujian pada saat yang sama (biasanya digunakan dalam ekspresi kondisional atau loop).

### The Walrus Operator

In [109]:
numbers = [1, 2, 3, 4, 5]
count = len(numbers)
if count > 3:
    print(f"List has {count} elements")

if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

List has 5 elements
List has 5 elements

### Analisis
Kode tersebut menunjukkan dua cara untuk mengukur panjang daftar (numbers) dan mencetak hasilnya jika jumlah elemen lebih dari 3.

Pada bagian pertama, panjang daftar dihitung terlebih dahulu dengan len(numbers) dan disimpan dalam variabel count. Kemudian, jika count lebih dari 3, maka hasilnya dicetak.

Pada bagian kedua, walrus operator (:=) digunakan untuk menghitung panjang daftar dan langsung menyimpan hasilnya ke dalam variabel count di dalam kondisi if. Jika count lebih dari 3, maka hasilnya juga dicetak.

Kedua blok kode akan mencetak "List has 5 elements" karena panjang daftar numbers adalah 5, dan kondisi count > 3 terpenuhi di kedua kasus.

### Python Comparison Operators
### Comparison Operators

In [110]:
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

SyntaxError: invalid syntax (3466712028.py, line 1)

### Analisis
Teks tersebut menjelaskan berbagai operator perbandingan dalam Python yang digunakan untuk membandingkan dua nilai:

==: Menyatakan sama dengan, digunakan untuk memeriksa apakah dua nilai sama, misalnya x == y.

!=: Menyatakan tidak sama dengan, digunakan untuk memeriksa apakah dua nilai tidak sama, misalnya x != y.

>: Menyatakan lebih besar dari, digunakan untuk memeriksa apakah nilai di kiri lebih besar dari nilai di kanan, misalnya x > y.

<: Menyatakan lebih kecil dari, digunakan untuk memeriksa apakah nilai di kiri lebih kecil dari nilai di kanan, misalnya x < y.

>=: Menyatakan lebih besar atau sama dengan, digunakan untuk memeriksa apakah nilai di kiri lebih besar atau sama dengan nilai di kanan, misalnya x >= y.

<=: Menyatakan lebih kecil atau sama dengan, digunakan untuk memeriksa apakah nilai di kiri lebih kecil atau sama dengan nilai di kanan, misalnya x <= y.

Operator-operator ini menghasilkan nilai True atau False berdasarkan hasil perbandingan.

In [111]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

### Analisis
Kode tersebut membandingkan nilai variabel x (5) dan y (3) menggunakan berbagai operator perbandingan, dan mencetak hasilnya:

x == y mengecek apakah x sama dengan y, hasilnya False.

x != y mengecek apakah x tidak sama dengan y, hasilnya True.

x > y mengecek apakah x lebih besar dari y, hasilnya True.

x < y mengecek apakah x lebih kecil dari y, hasilnya False.

x >= y mengecek apakah x lebih besar atau sama dengan y, hasilnya True.

x <= y mengecek apakah x lebih kecil atau sama dengan y, hasilnya False.

### Chaining Comparison Operators

In [112]:
x = 5

print(1 < x < 10)

print(1 < x and x < 10)

True
True

### Analisis
Kode tersebut memeriksa dua kondisi yang serupa, namun dengan cara yang berbeda. Pertama, 1 < x < 10 adalah bentuk perbandingan berantai di Python yang memeriksa apakah x berada di antara 1 dan 10. Karena x adalah 5, hasilnya True. Kedua, 1 < x and x < 10 menggunakan operator and untuk memeriksa dua kondisi terpisah, yaitu apakah x lebih besar dari 1 dan apakah x lebih kecil dari 10. Karena keduanya benar, hasilnya juga True. Jadi, output dari kedua pernyataan tersebut adalah True.

### Python Logical Operators

In [113]:
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

SyntaxError: invalid syntax (1362333293.py, line 1)

### Analisis
Operator and mengembalikan True jika kedua kondisi benar, or mengembalikan True jika salah satu kondisi benar, dan not membalikkan hasil kondisi (mengubah True menjadi False dan sebaliknya).

In [114]:
x = 5

print(x > 0 and x < 10)

True

### Analisis
Kode tersebut memeriksa dua kondisi menggunakan operator and. Kondisi pertama, x > 0, dan kondisi kedua, x < 10, keduanya benar karena x adalah 5. Oleh karena itu, hasil yang dicetak adalah True.

In [115]:
x = 5

print(x < 5 or x > 10)

False

### Analisis
Kode tersebut memeriksa dua kondisi menggunakan operator or. Kondisi pertama, x < 5, dan kondisi kedua, x > 10, keduanya salah karena x adalah 5. Karena operator or hanya membutuhkan satu kondisi yang benar untuk menghasilkan True, hasilnya adalah False karena kedua kondisi tersebut salah.

In [116]:
x = 5

print(not(x > 3 and x < 10))

False

### Analisis
Kode tersebut memeriksa kondisi x > 3 and x < 10, yang benar karena x adalah 5. Namun, karena operator not membalikkan hasilnya, hasil akhirnya adalah False.

### Python Identity Operators
### Identity Operators

In [117]:
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

SyntaxError: invalid syntax (196072255.py, line 1)

### Analisis
Teks tersebut menjelaskan dua operator identitas dalam Python. Operator is mengembalikan True jika kedua variabel merujuk ke objek yang sama di memori, sedangkan operator is not mengembalikan True jika kedua variabel tidak merujuk ke objek yang sama.

In [118]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

### Analisis
Kode tersebut memeriksa dua hal: apakah dua variabel merujuk ke objek yang sama di memori dan apakah nilai mereka sama. x is z menghasilkan True karena z merujuk ke objek yang sama dengan x di memori. Namun, x is y menghasilkan False karena meskipun nilai dalam kedua list tersebut sama, mereka adalah objek yang berbeda di memori. Sementara itu, x == y menghasilkan True karena nilai yang terkandung dalam kedua list tersebut memang sama.

In [119]:
x = ["apple", "banana"]
y = ["apple", "banana"]

print(x is not y)

True

### Analisis
Kode tersebut memeriksa apakah x dan y bukan objek yang sama di memori menggunakan operator is not. Meskipun kedua list memiliki nilai yang sama, x dan y adalah dua objek yang berbeda di memori, sehingga hasilnya adalah True.

### Difference Between is and ==

In [120]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

### Analisis
Kode tersebut memeriksa dua hal: apakah nilai dari x dan y sama, dan apakah kedua variabel merujuk ke objek yang sama di memori. x == y menghasilkan True karena nilai dalam kedua list tersebut sama, sedangkan x is y menghasilkan False karena meskipun nilai-nya sama, mereka adalah objek yang berbeda di memori.

### Python Membership Operators
### Membership Operators

In [121]:
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

SyntaxError: invalid syntax (3026266279.py, line 1)

### Analisis
Teks tersebut menjelaskan dua operator keanggotaan dalam Python. Operator in mengembalikan True jika nilai yang ditentukan ada dalam urutan (seperti list, tuple, atau string), sedangkan not in mengembalikan True jika nilai yang ditentukan tidak ada dalam urutan tersebut.

In [122]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

True

### Analisis
Kode tersebut memeriksa apakah "banana" ada dalam list fruits. Karena "banana" ada dalam list tersebut, hasilnya adalah True.

In [123]:
fruits = ["apple", "banana", "cherry"]

print("pineapple" not in fruits)

True

### Analisis
Kode tersebut memeriksa apakah "pineapple" tidak ada dalam list fruits. Karena "pineapple" memang tidak ada dalam list tersebut, hasilnya adalah True.

### Membership in Strings

In [124]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

### Analisis
Kode tersebut memeriksa keanggotaan string dalam variabel text. print("H" in text) menghasilkan True karena huruf "H" ada di dalam "Hello World". print("hello" in text) menghasilkan False karena "hello" (dengan huruf kecil) tidak ada dalam "Hello World". print("z" not in text) menghasilkan True karena huruf "z" tidak ada dalam "Hello World".

### Python Bitwise Operators
### Bitwise Operators

In [125]:
& 	AND	Sets each bit to 1 if both bits are 1	x & y	
|	OR	Sets each bit to 1 if one of two bits is 1	x | y	
^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y	
~	NOT	Inverts all the bits	~x	
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2	
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

SyntaxError: invalid syntax (1019725579.py, line 1)

### Analisis
Teks tersebut menjelaskan beberapa operator bitwise dalam Python:

& (AND): Mengatur setiap bit menjadi 1 jika kedua bit yang dibandingkan adalah 1.

| (OR): Mengatur setiap bit menjadi 1 jika salah satu dari dua bit yang dibandingkan adalah 1.

^ (XOR): Mengatur setiap bit menjadi 1 jika hanya satu dari dua bit yang dibandingkan adalah 1.

~ (NOT): Membalikkan semua bit, mengubah 1 menjadi 0 dan sebaliknya.

<< (Zero fill left shift): Menggeser bit ke kiri dan mengisi posisi kosong dengan nol, sementara bit kiri terluar akan terbuang.

>> (Signed right shift): Menggeser bit ke kanan dan mengisi posisi kosong dengan salinan bit terluar kiri, sementara bit kanan terluar akan terbuang.

Operator-operator ini digunakan untuk manipulasi bit pada angka dalam format biner.

In [126]:
print(6 & 3)

2

### Analisis
Kode tersebut menggunakan operator bitwise AND untuk membandingkan angka 6 dan 3. Dalam biner, 6 adalah 0110 dan 3 adalah 0011. Operator & hanya menghasilkan 1 jika kedua bitnya adalah 1, sehingga hasilnya adalah 2.

In [127]:
print(6 | 3)

7

### Analisis
Kode tersebut menggunakan operator bitwise OR untuk membandingkan angka 6 dan 3. Dalam biner, 6 adalah 0110 dan 3 adalah 0011. Operator | menghasilkan 1 jika salah satu bitnya adalah 1.

In [128]:
print(6 ^ 3)

5

### Analisis
Kode tersebut menggunakan operator bitwise XOR untuk membandingkan angka 6 dan 3. Dalam biner, 6 adalah 0110 dan 3 adalah 0011. Operator ^ menghasilkan 1 jika hanya satu bit yang 1 pada posisi tersebut.

### Python Operator Precedence
### Operator Precedence

In [129]:
print((6 + 3) - (6 + 3))

0

### Analisis
Kode tersebut melakukan perhitungan (6 + 3) - (6 + 3). Pertama, 6 + 3 menghasilkan 9, dan kemudian 9 - 9 menghasilkan 0. Jadi, hasil dari perhitungan ini adalah 0.

In [130]:
print(100 + 5 * 3)

115

### Analisis
Kode tersebut mengikuti aturan prioritas operasi matematika, di mana perkalian dilakukan sebelum penjumlahan. Jadi, pertama 5 * 3 menghasilkan 15, kemudian 100 + 15 menghasilkan 115. Jadi, hasil dari perhitungan ini adalah 115.

In [131]:
()	Parentheses	
**	Exponentiation	
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT	
*  /  //  %	Multiplication, division, floor division, and modulus	
+  -	Addition and subtraction	
<<  >>	Bitwise left and right shifts	
&	Bitwise AND	
^	Bitwise XOR	
|	Bitwise OR	
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators	
not	Logical NOT	
and	AND	
or	OR

SyntaxError: invalid syntax (4109532834.py, line 1)

### Analisis
Teks tersebut menjelaskan berbagai operator dalam Python, yang dibagi menjadi beberapa kategori:

(): Parentheses digunakan untuk mengelompokkan ekspresi dan mempengaruhi urutan operasi.

**** (Exponentiation): Digunakan untuk operasi perpangkatan.

+x, -x, ~x: Operator unari, yaitu penambahan unary, pengurangan unary, dan negasi bitwise.

*, /, //, %: Operator aritmatika untuk perkalian, pembagian, floor division, dan modulus.

+, -: Operator untuk penjumlahan dan pengurangan.

<<, >>: Operator bitwise untuk pergeseran kiri dan kanan.

&: Operator bitwise AND.

^: Operator bitwise XOR.

|: Operator bitwise OR.

==, !=, >, >=, <, <=, is, is not, in, not in: Operator perbandingan, identitas, dan keanggotaan.

not: Operator logika NOT.

and: Operator logika AND.

or: Operator logika OR.

Operator-operator ini digunakan untuk berbagai operasi mulai dari matematika, perbandingan, hingga manipulasi bit.

### Left-to-Right Evaluation

In [132]:
print(5 + 4 - 7 + 3)

5

### Analisis
Kode tersebut melakukan operasi aritmatika 5 + 4 - 7 + 3. Pertama, 5 + 4 menghasilkan 9, lalu 9 - 7 menghasilkan 2, dan akhirnya 2 + 3 menghasilkan 5. Jadi, hasil dari perhitungan ini adalah 5.

## Python If Statement
### Python Conditions and If statements

In [133]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Analisis
Kode tersebut memeriksa apakah nilai b (200) lebih besar dari nilai a (33). Karena kondisi tersebut benar, program mencetak "b is greater than a".

### How If Statements Work

In [134]:
number = 15
if number > 0:
  print("The number is positive")

The number is positive

### Analisis
Kode tersebut memeriksa apakah nilai number (15) lebih besar dari 0. Karena kondisi tersebut benar, program mencetak "The number is positive".

### Indentation

In [135]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (1443227691.py, line 4)

### Analisis
Kode tersebut akan menimbulkan IndentationError karena perintah print("b is greater than a") tidak diberi indentasi yang benar. Di dalam Python, blok kode setelah pernyataan if harus memiliki indentasi.

### Multiple Statements in If Block

In [136]:
age = 20
if age >= 18:
  print("You are an adult")
  print("You can vote")
  print("You have full legal rights")

You are an adult
You can vote
You have full legal rights

### Analisis
Kode tersebut memeriksa apakah nilai variabel age lebih besar atau sama dengan 18. Karena age adalah 20, kondisi tersebut benar, sehingga program akan mencetak tiga baris:

"You are an adult"

"You can vote"

"You have full legal rights"

### Using Variables in Conditions

In [137]:
is_logged_in = True
if is_logged_in:
  print("Welcome back!")

Welcome back!

### Analisis
Kode tersebut memeriksa apakah variabel is_logged_in bernilai True. Karena is_logged_in diatur ke True, kondisi tersebut terpenuhi dan program akan mencetak "Welcome back!".

### Python Elif Statement
### The Elif Keyword

In [138]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Analisis
Kode tersebut memeriksa dua kondisi. Karena a dan b memiliki nilai yang sama (33), kondisi a == b terpenuhi, sehingga program mencetak "a and b are equal".

### Multiple Elif Statements

In [139]:
score = 75

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")

Grade: C

### Analisis
Kode tersebut memeriksa nilai variabel score untuk menentukan grade. Karena score adalah 75, kondisi score >= 70 terpenuhi, sehingga program akan mencetak "Grade: C".

### How Elif Works

In [140]:
age = 25

if age < 13:
  print("You are a child")
elif age < 20:
  print("You are a teenager")
elif age < 65:
  print("You are an adult")
elif age >= 65:
  print("You are a senior")

You are an adult

### Analisis
Kode tersebut memeriksa rentang usia untuk menentukan kategori umur. Karena age adalah 25, kondisi age < 65 terpenuhi, sehingga program akan mencetak "You are an adult".

### When to Use Elif

In [141]:
day = 3

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

Wednesday

### Analisis
Kode tersebut memeriksa nilai variabel day untuk mencetak nama hari sesuai dengan nomor hari. Karena day bernilai 3, kondisi day == 3 terpenuhi, sehingga program akan mencetak "Wednesday".

### Python Else Statement
### The Else Keyword

In [142]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### Analisis
Kode tersebut memeriksa dua kondisi untuk membandingkan nilai a dan b. Karena a (200) lebih besar dari b (33), kondisi else akan dijalankan, sehingga program mencetak "a is greater than b".

### Else Without Elif

In [143]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Analisis
Kode tersebut memeriksa apakah b lebih besar dari a. Karena b (33) tidak lebih besar dari a (200), kondisi else akan dijalankan, sehingga program mencetak "b is not greater than a".

### How Else Works

In [144]:
number = 7

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

### Analisis
Kode tersebut memeriksa apakah angka number genap atau ganjil. Karena number adalah 7, yang tidak dapat dibagi 2 tanpa sisa (hasil 7 % 2 adalah 1), program akan mencetak "The number is odd".

### Complete If-Elif-Else Chain

In [145]:
temperature = 22

if temperature > 30:
  print("It's hot outside!")
elif temperature > 20:
  print("It's warm outside")
elif temperature > 10:
  print("It's cool outside")
else:
  print("It's cold outside!")

It's warm outside

### Analisis
Kode tersebut memeriksa nilai variabel temperature untuk menentukan kondisi cuaca. Karena temperature adalah 22, yang lebih besar dari 20, program akan mencetak "It's warm outside".

### Else as Fallback

In [146]:
username = "Emil"

if len(username) > 0:
  print(f"Welcome, {username}!")
else:
  print("Error: Username cannot be empty")

Welcome, Emil!

### Analisis
Kode tersebut memeriksa apakah panjang variabel username lebih besar dari 0. Karena username berisi "Emil", yang memiliki panjang lebih dari 0, program akan mencetak "Welcome, Emil!".

### Python Shorthand If
### Short Hand If

In [147]:
a = 5
b = 2
if a > b: print("a is greater than b")

a is greater than b

### Analisis
Kode tersebut memeriksa apakah nilai a lebih besar dari nilai b. Karena a (5) lebih besar dari b (2), program mencetak "a is greater than b".

### Short Hand If ... Else

In [148]:
a = 2
b = 330
print("A") if a > b else print("B")

B

### Analisis
Kode tersebut menggunakan ternary operator untuk memeriksa apakah a lebih besar dari b. Karena a (2) tidak lebih besar dari b (330), kondisi else terpenuhi, sehingga program mencetak "B".

### Assign a Value With If ... Else

In [149]:
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

Bigger is 20

### Analisis
Kode tersebut menggunakan ternary operator untuk menentukan nilai yang lebih besar antara a dan b. Karena a (10) tidak lebih besar dari b (20), nilai b akan dipilih, sehingga program mencetak "Bigger is 20".

### Multiple Conditions on One Line

In [150]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### Analisis
Kode tersebut memeriksa tiga kondisi dengan menggunakan ternary operator bertingkat. Karena a (330) sama dengan b (330), kondisi a == b terpenuhi, sehingga program mencetak "=".

### Practical Examples

In [151]:
x = 15
y = 20
max_value = x if x > y else y
print("Maximum value:", max_value)

Maximum value: 20

### Analisis
Kode tersebut menggunakan ternary operator untuk menentukan nilai maksimum antara x dan y. Karena y (20) lebih besar dari x (15), nilai y dipilih sebagai max_value. Program kemudian mencetak "Maximum value: 20".

In [152]:
username = ""
display_name = username if username else "Guest"
print("Welcome,", display_name)

Welcome, Guest

### Analisis
Kode tersebut menggunakan ternary operator untuk memeriksa apakah username kosong. Karena username adalah string kosong, maka nilai display_name akan diisi dengan "Guest". Program kemudian mencetak "Welcome, Guest".

## Python Logical Operators

In [153]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Analisis
Kode tersebut memeriksa dua kondisi menggunakan operator and. Karena a (200) lebih besar dari b (33) dan c (500) lebih besar dari a (200), kedua kondisi tersebut benar. Oleh karena itu, program akan mencetak "Both conditions are True".

### The or Operator

In [154]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### Analisis
Kode tersebut memeriksa dua kondisi menggunakan operator or. Karena a (200) lebih besar dari b (33), kondisi pertama terpenuhi, sehingga program akan mencetak "At least one of the conditions is True". Kondisi kedua tidak perlu diperiksa karena operator or cukup membutuhkan satu kondisi yang benar.

### The not Operator

In [155]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

### Analisis
Kode tersebut memeriksa apakah a tidak lebih besar dari b menggunakan operator not. Karena a (33) memang lebih kecil dari b (200), kondisi not a > b menjadi True, dan program mencetak "a is NOT greater than b".

### Combining Multiple Operators

In [156]:
age = 25
is_student = False
has_discount_code = True

if (age < 18 or age > 65) and not is_student or has_discount_code:
  print("Discount applies!")

Discount applies!

### Analisis
Kode tersebut memeriksa beberapa kondisi terkait umur, status pelajar, dan kode diskon. Kondisi yang diperiksa adalah:

Jika umur kurang dari 18 atau lebih dari 65 (age < 18 or age > 65), dan is_student bernilai False (karena not is_student).

Atau, jika has_discount_code bernilai True.

Karena age adalah 25 (tidak memenuhi kondisi pertama), namun has_discount_code adalah True, maka kondisi kedua terpenuhi dan program mencetak "Discount applies!".

### Using Parentheses for Clarity

In [157]:
temperature = 25
is_raining = False
is_weekend = True

if (temperature > 20 and not is_raining) or is_weekend:
  print("Great day for outdoor activities!")

Great day for outdoor activities!

### Analisis
Kode tersebut memeriksa kondisi apakah suhu lebih dari 20 dan tidak hujan, atau apakah hari ini akhir pekan. Karena suhu adalah 25 dan is_weekend bernilai True, kondisi tersebut terpenuhi, sehingga program mencetak "Great day for outdoor activities!".

### More Examples

In [158]:
username = "Tobias"
password = "secret123"
is_verified = True

if username and password and is_verified:
  print("Login successful")
else:
  print("Login failed")

Login successful

### Analisis
Kode tersebut memeriksa apakah variabel username, password, dan is_verified semuanya bernilai benar. Karena ketiganya memiliki nilai yang tidak kosong dan is_verified bernilai True, kondisi tersebut terpenuhi, dan program mencetak "Login successful".

In [159]:
score = 85

if score >= 0 and score <= 100:
  print("Valid score")
else:
  print("Invalid score")

Valid score

### Analisis
Kode tersebut memeriksa apakah nilai score berada dalam rentang valid antara 0 dan 100. Karena score adalah 85, yang berada dalam rentang tersebut, kondisi if terpenuhi, sehingga program mencetak "Valid score".

### Python Nested If
### Nested If Statements

In [160]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### Analisis
Kode tersebut memeriksa dua kondisi bertingkat. Karena x adalah 41, yang lebih besar dari 10, program mencetak "Above ten,". Kemudian, karena x juga lebih besar dari 20, kondisi kedua terpenuhi dan program mencetak "and also above 20!".

### How Nested If Works

In [161]:
age = 25
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

You can drive

### Analisis
Kode tersebut memeriksa dua kondisi bertingkat. Pertama, jika usia age lebih dari atau sama dengan 18, maka program memeriksa apakah has_license bernilai True. Jika ya, program mencetak "You can drive". Jika tidak, program mencetak "You need a license". Jika usia kurang dari 18, program mencetak "You are too young to drive". Karena age adalah 25 dan has_license adalah True, program mencetak "You can drive".

### Multiple Levels of Nesting

In [162]:
score = 85
attendance = 90
submitted = True

if score >= 60:
  if attendance >= 80:
    if submitted:
      print("Pass with good standing")
    else:
      print("Pass but missing assignment")
  else:
    print("Pass but low attendance")
else:
  print("Fail")

Pass with good standing

### Analisis
Kode tersebut memeriksa beberapa kondisi bertingkat untuk menentukan status kelulusan. Karena score adalah 85, yang lebih besar dari 60, program melanjutkan ke kondisi berikutnya. Kemudian, karena attendance adalah 90, yang lebih besar dari 80, program memeriksa apakah tugas telah diserahkan (submitted bernilai True). Karena tugas telah diserahkan, program mencetak "Pass with good standing".

### Nested If vs Logical Operators

In [163]:
temperature = 25
is_sunny = True

if temperature > 20:
  if is_sunny:
    print("Perfect beach weather!")

Perfect beach weather!

### Analisis
Kode tersebut memeriksa dua kondisi bertingkat. Karena temperature adalah 25, yang lebih besar dari 20, program melanjutkan untuk memeriksa apakah cuaca cerah (is_sunny bernilai True). Karena kondisi tersebut terpenuhi, program mencetak "Perfect beach weather!".

In [164]:
temperature = 25
is_sunny = True

if temperature > 20 and is_sunny:
  print("Perfect beach weather!")

Perfect beach weather!

### Analisis
Kode tersebut memeriksa apakah suhu lebih dari 20 dan cuaca cerah. Karena temperature adalah 25 (lebih dari 20) dan is_sunny bernilai True, kedua kondisi tersebut terpenuhi, sehingga program mencetak "Perfect beach weather!".

### More Examples

In [165]:
username = "Emil"
password = "python123"
is_active = True

if username:
  if password:
    if is_active:
      print("Login successful")
    else:
      print("Account is not active")
  else:
    print("Password required")
else:
  print("Username required")

Login successful

### Analisis
Kode tersebut memeriksa tiga kondisi bertingkat. Pertama, jika username tidak kosong, program memeriksa apakah password juga ada. Jika password ada, program selanjutnya memeriksa apakah akun aktif (is_active). Karena ketiga kondisi ini semuanya benar (nilai username, password, dan is_active semuanya valid), program mencetak "Login successful".

In [166]:
score = 92
extra_credit = 5

if score >= 90:
  if extra_credit > 0:
    print("A+ grade")
  else:
    print("A grade")
elif score >= 80:
  print("B grade")
else:
  print("C grade or below")

A+ grade

### Analisis
Kode tersebut memeriksa nilai score dan memberi nilai tambahan berdasarkan extra_credit. Karena score adalah 92, yang lebih besar dari 90, program memeriksa apakah extra_credit lebih besar dari 0. Karena extra_credit bernilai 5, kondisi ini terpenuhi dan program mencetak "A+ grade".

### Python Pass Statement
### The pass Statement

In [167]:
a = 33
b = 200

if b > a:
  pass

### Analisis
Kode tersebut memeriksa apakah b lebih besar dari a. Jika kondisi tersebut benar, perintah pass akan dijalankan. Namun, karena pass tidak melakukan apa-apa, kode ini tidak menghasilkan output apa pun. pass digunakan sebagai placeholder ketika struktur kode diperlukan, tetapi tidak ada aksi yang ingin dilakukan.

### pass in Development

In [168]:
age = 16

if age < 18:
  pass # TODO: Add underage logic later
else:
  print("Access granted")

### Analisis
Kode tersebut memeriksa apakah nilai age kurang dari 18. Karena age adalah 16, yang lebih kecil dari 18, maka perintah pass dijalankan, yang artinya tidak ada aksi yang dilakukan untuk saat ini. pass digunakan sebagai placeholder dengan catatan TODO, menandakan bahwa logika untuk usia di bawah 18 akan ditambahkan nanti. Jika age lebih besar atau sama dengan 18, program akan mencetak "Access granted".

### pass vs Comments

In [169]:
score = 85

if score > 90:
  # This is excellent
# This will raise an IndentationError

_IncompleteInputError: incomplete input (2330558437.py, line 5)

### Analisis
Kode tersebut akan menimbulkan IndentationError karena baris komentar # This will raise an IndentationError tidak diindentasikan dengan benar. Komentar tersebut berada di luar blok if, yang seharusnya tidak terjadi jika Anda ingin menambahkan komentar di dalam blok tersebut.

In [170]:
score = 85

if score > 90:
  pass # This is excellent
print("Score processed")

Score processed

### Analisis
Kode tersebut memeriksa apakah score lebih besar dari 90. Karena nilai score adalah 85, kondisi tersebut tidak terpenuhi, sehingga perintah pass tidak dijalankan. Program melanjutkan ke baris berikutnya dan mencetak "Score processed".

Komentar # This is excellent adalah komentar yang tidak akan mempengaruhi eksekusi program, karena pass digunakan untuk placeholder ketika tidak ada aksi yang dilakukan dalam blok if.

### pass with Multiple Conditions

In [171]:
value = 50

if value < 0:
  print("Negative value")
elif value == 0:
  pass # Zero case - no action needed
else:
  print("Positive value")

Positive value

### Analisis
Kode tersebut memeriksa nilai variabel value. Jika value kurang dari 0, program akan mencetak "Negative value". Jika value sama dengan 0, tidak ada aksi yang dilakukan karena pass digunakan, yang menunjukkan bahwa untuk kasus ini tidak perlu ada tindakan. Jika value lebih besar dari 0, program mencetak "Positive value". Karena value adalah 50, program mencetak "Positive value".

### pass in Other Contexts

In [172]:
def calculate_discount(price):
  pass # TODO: Implement discount logic

# Function exists but doesn't do anything yet

### Analisis
Kode tersebut mendefinisikan fungsi calculate_discount(price) yang saat ini tidak melakukan apa-apa karena hanya berisi perintah pass. Komentar # TODO: Implement discount logic menandakan bahwa logika untuk menghitung diskon akan ditambahkan di kemudian hari. Fungsi ini ada, namun tidak memberikan output atau hasil apapun sampai implementasi lebih lanjut dilakukan.

## Python Match
### The Python Match Statement

In [173]:
match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block

SyntaxError: invalid syntax (3715584864.py, line 3)

### Analisis
Teks tersebut menunjukkan penggunaan match-case expression, yang diperkenalkan di Python 3.10, sebagai cara untuk melakukan pencocokan pola (pattern matching). Dalam struktur ini, setiap case memeriksa apakah nilai yang cocok dengan pola yang diberikan (misalnya, x, y, atau z), dan jika ada kecocokan, blok kode yang sesuai akan dieksekusi.

In [174]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

### Analisis
Kode tersebut menggunakan match-case untuk memeriksa nilai variabel day dan mencetak nama hari yang sesuai. Karena day bernilai 4, kondisi case 4 terpenuhi, dan program akan mencetak "Thursday".

### Default Value

In [175]:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

### Analisis
Kode tersebut menggunakan match-case untuk memeriksa nilai variabel day. Karena day bernilai 4, yang tidak cocok dengan case 6 atau case 7, program akan mencetak "Looking forward to the Weekend", karena kondisi case _ menangani semua kasus lainnya.

### Combine Values

In [176]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

### Analisis
Kode tersebut menggunakan match-case dengan pola gabungan untuk memeriksa nilai variabel day. Karena day bernilai 4, yang termasuk dalam kelompok 1 | 2 | 3 | 4 | 5, program akan mencetak "Today is a weekday". Jika day bernilai 6 atau 7, maka program akan mencetak "I love weekends!".

### If Statements as Guards

In [177]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

### Analisis
Kode tersebut menggunakan match-case dengan kondisi tambahan yang memeriksa bulan (month). Karena day bernilai 4 dan month bernilai 5, kondisi kedua case 1 | 2 | 3 | 4 | 5 if month == 5 terpenuhi. Program akan mencetak "A weekday in May".

Jika month adalah 4 dan day adalah 4, maka "A weekday in April" akan dicetak, tetapi karena month adalah 5, program akan memilih kondisi kedua.